[submodule "argocd"]
	path = argocd
	url = ../argocd.git
[submodule "jenkins"]
	path = jenkins
	url = ../jenkins.git
[submodule "test"]
	path = test
	url = ../test
[submodule "_apps"]
	path = _apps
	url = ../apps.git
[submodule "harbor"]
	path = harbor
	url = ../harbor.git
[submodule "yogbot-kt"]
	path = yogbot-kt
	url = ../yogbot-kt.git
[submodule "drone"]
	path = drone
	url = ../drone.git
