[submodule "argocd"]
	path = argocd
	url = https://github.com/alexkar598/argocd.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/yogstation13-infrastructure/jenkins.git
[submodule "test"]
	path = test
	url = ../test
[submodule "_apps"]
	path = _apps
	url = https://github.com/yogstation13-infrastructure/apps.git
[submodule "harbor"]
	path = harbor
	url = https://github.com/yogstation13-infrastructure/harbor.git
